/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.floating-button {
    position: fixed;
    bottom: 4vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    background-color: rgb(2, 191, 238);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    z-index: 999;
  }