<div fxLayout="row wrap" fxLayoutAlign="space-evenly" *ngIf="exercises && exercises.length">
    <div *ngFor="let exercise of exercises" (click)="openPopup(exercise)">
        <mat-card class="card">
            <img class="progress" *ngIf="exercise.weight !== exercise.lastWeight" [src]="getProgressSrc(exercise.weight, exercise.lastWeight)" alt="Tendència">
            <img class="exercise-icon" src='../../../assets/{{exercise.icon}}.PNG' alt={{exercise.icon}}>
            <mat-card-content class="content">
                <p matLine class="title-text"><b>{{exercise.title}}</b></p>
                <div class="card-text">
                    <p matLine>{{exercise.series}}x{{exercise.reps}}&nbsp;</p>
                    <p matLine *ngIf="exercise.weight !== 0">{{exercise.weight}}kg</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<button class="floating-button" routerLink="/currentTraining">
    Veure Entrenament
</button>

<exercise-popup-comp *ngIf="isExercisePopupOpen" [selectedExercise]="selectedExercise"/>
