.flexbox {
    justify-content: space-evenly;
}

.card {
    padding: 4px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;

    .exercise-icon {
        width: 55px;
        margin-top: 10px;
    }

    .progress {
        position: absolute;
        width: 30px;
        top: -5px;
        right: -5px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 10px;

        p {
            text-align: center;
        }

        .title-text {
            margin: 0;
            margin-top: auto;
            margin-bottom: 5px;
        }

        .card-text {
            display: flex;
            margin: 0;
            margin-bottom: 10px;

            p {
                margin-bottom: 0;
            }
        }
    }

}
  