.navbar {
    background-color: rgb(2, 191, 238);
    padding: 12px 0;
    margin-bottom: 2vw;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.navbar-links a:first-child {
    margin-left: 0;
}
